.bg-1{
	
    background-color: #1abc9c;
    min-height: 300px ;
    -webkit-animation-name: bg; 
    -webkit-animation-duration: 10s; 
    animation-name: bg;
    animation-duration: 10s;

}

@-webkit-keyframes bg {
    0%   {background-color: #1abc9c;}
    15%  {background-color: #7f8c8d;}
    25%  {background-color: #9b59b6;}
    50%  {background-color: #f1c40f;}
    75%	 {background-color: #c0392b;}
    100% {background-color: #3498db;}
}

@keyframes bg {
    0%   {background-color: #1abc9c;}
    15%   {background-color: #7f8c8d;}
    25%  {background-color: #9b59b6;}
    50%  {background-color: #f1c40f;}
    75%	 {background-color: #c0392b;}
    100% {background-color: #3498db;}
}

.bg-2{
	background-color: #34495e;		
	margin-top: -30px;
	min-height: 190px;
}

.bg-3{
	background-color: #bdc3c7;
	margin-top: -30px;
	min-height: 650px;
}
.bg-4{
	background-color: #3498db;
	margin-top: -30px;
	min-height: 580px;
}
.bg-footer{
	background-color: #34495e;
	margin-top: -30px;
	height: 50px;
	text-align: center;
	color:white;
	

}




.portofolio2{
	margin-top: 300px;
}


.navbar .navbar-brand a{
	color: white;
	text-decoration: none;
	font-size: 1.5em;		

}
.navbar .navbar-header{
	margin-top:-30px;
}


.nav a{
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	margin-top: -30px;

}
.nav li a:hover{
	background-color: transparent;
}
.nav li a:focus{
	background-color: #2ecc71;
}


.text-center{
	margin-top: 0px;	
}

.text-about{
	text-align: center;
	color: white;
	font-size: 1em;
	margin-top: -50px;
}

.container-about{
	width: 70%;
	position: absolute;
	text-align: center
}

.btn-default{
	background-color: transparent;	
}
.btn-default:hover{
	background-color: #3498db;	
}

.btn-default a, .btn-default a:hover{
	color:white;
	text-decoration: none;
}

.container-icon img{
	width: 60px;

}

.thumbnail{
	background-color: transparent;
	border: none;
	position: absolute;	
	text-align: center;

}

.thumbnail img{
	width: 500px;
	height: 180px;
}

.thumbnail p{
	margin-top: 10px;
}



.sosmed{
	color: #ecf0f1;
}

.find{
	color:white;
}

.bg-sosmed,.bg-message{
	width: 100%;
	min-height: 450px;
	border-radius: 30px;
	background-color: rgba(189, 195, 199,0.3);
}

